

{% extends 'home.html'%}

{% block content %}

<div class="container mt-5">
<div>
        {% for mes in messages %}
            <h3> {{mes}} </h3>
        {% endfor %}
    </div>    
    
        <form action="register" method="POST">
            {% csrf_token %}

            <p>Registration:</p>
            <input type="first_name" name="first_name" placeholder="enter name"><br>
            <br>
            <input type="username" name="username" placeholder="user name"><br>
            <br>
            <input type="email" name="email" placeholder="enter email"><br>
            <br>
            <input type="password1" name="password1" placeholder="enter password"><br>
            <br>
            <input type="password2" name="password2" placeholder="enter again password"><br>
            <br>
            <input type="submit">
        </form>
</div>

{% endblock %}